<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>{% block title %}Doomscroller{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <h1>Doomscroller</h1>
    </header>
    <main class="main">{% block content%}{% endblock %}</main>
    <footer class="footer">
      <p>&copy; A project by Jam Amoroso</p>
    </footer>
  </body>
</html>
